body{
	background-color: #efefef;
}
.main{
	background-color:white;
	margin: 30px;
}
.btn-publish{
	float:right;
	margin-bottom: 15px;
}

.media-object{
	width:42px;
	height: 42px;
	border-radius: 50px;
}
.media-object1{
	width:42px;
	height: 42px;
}
.media-body{
	padding-top: -5px;
}
.coomment{
	margin:15px 0;
	
}
.comment-btn{
	float: right;
	margin-bottom: 10px;
	margin-top: 6px;
}
.text-desc{
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.profile .section{
	margin-top: 15px;
}

.luntan-menu{
	color:#999;
	font-size: 13px;
	display: block;
	margin-bottom: 15px;
	float: right;
}
.heading{
	margin-top: 15px;
}
.jumbotron{
	margin: 50px;
}
.comment-sp{
	margin-top: 0px;
}
.commentText{
	margin-top: 15px;
}
.sub-comments{
	
	margin-top: 10px;
	border: 1px solid #eee;
	padding-top: 15px;
	margin-bottom: 15px;
}
.sub-comments .media-object{
	border-radius: 45px;
	margin-top:7px;
}
.sub-comments .comment-btn{
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
}
.menu{
	color: #999;
	margin-top: 5px;
}
.menu .icon{
	margin-right: 6px;
	font-size: 15px;
	cursor: pointer;
}
.menu .active{
	color: #499ef3;
}

.menu .icon:hover{
	color: #499ef3;
}
.comments{
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
.hr_1{
	margin-top: -5px;
}
.question_title{
	margin-top: 25px;
}
.question_tags{
	margin-right: 8px;
	font-family: 黑体;
	font-size: 18px;
	
}
.comment-icon :hover{
	cursor: pointer;
	color: #499ef3;
	display: inline-block;
}
.list-style{
	list-style: none;
	margin: 0px;
	padding: 0px;
	
}
.list-style :hover{
	cursor: pointer;
	color: #e2161c;
	text-decoration: none;
}
.li-style{
	margin-bottom: 10px;
}
.img-style{
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
}
.publish-tag-tab{
	display: none;
	margin-top: 10px;
}
.tab-content{
	margin: 0;
	padding: 0;
	font-size: 20px;
	margin-top: 10px;

}
.publish-tag-tab .label-info{
	margin-right: 10px;
	padding-top: 10px;
	white-space:normal;
	margin: 5px 5px;
	display: inline-block;
}
.footer{
	text-align: center;
	color: #666;
	 
}